<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример страницы с кнопками</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #f5f5f5;
        }
        button {
            padding: 10px 15px;
            margin: 5px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<h1>Пример страницы с кнопками</h1>
<p>Обновлено. тестирование.</p>

<button onclick="sendRequest('http://localhost:8089/event/test')">Ответ 1</button>
<button onclick="sendRequest('http://localhost:7001/main')">Ответ 2</button>
<button onclick="sendRequest('http://localhost:7001/main')">Ответ 3</button>

<div id="response"></div>

<script>
    function sendRequest(url) {
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJVc2VyIGRldGFpbHMiLCJ1c2VybmFtZSI6IlRhbyIsImlkIjo0LCJST0xFIjoiUk9MRV9ISUdIIiwiY291cnNlIjoxLCJmYWN1bHR5IjoiRVBGIiwiaWF0IjoxNzAyNjM0NzUyLCJpc3MiOiJtZXJvbmkiLCJleHAiOjIwNjI2MzQ3NTJ9.5YdyXgKdeyigRDfc7kTjKUW8gKcfItg4YQon_rPtnwM'

            }
        })
            .then(response => {
                if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
                return response.json();
            })
            .then(data => {
                document.getElementById('response').innerHTML =
                    `<p>Ответ сервера: ${JSON.stringify(data)}</p>`;
            })
            .catch(error => {
                console.error('Ошибка:', error);
                document.getElementById('error').innerHTML = `Ошибка: ${error.message}`;
            });
    }

</script>
</body>
</html>